.row
  .col-md-12
    - if user_signed_in?
      %h3 Hi #{current_user.email}!
    - else
      %h3 Hello there!
      = link_to "sign in", new_user_session_path
.row
  .col-md-4
    - @posts.each do |p|
      %h4 
        %small Title: 
        #{p.title}
      .postbody.text_primary
        %p.text-primary= p.body
      - p.comments.each do |c|
        %h5.comment
          %small Comment:
          #{c.body}
      = link_to 'add comment', comments_add_path(post: p)
    %p.text-left 
      That's the end of the
      %abbr(title='a blog post')
        posts!

  .col-md-8
    - if user_signed_in?
      = form_for @post do |t|
        .posttitle
          %h4 New Post:
          %p
            = t.label :title
            = t.text_field :title
          %p
            = t.label :body
            = t.text_area :body
          %p
            = t.submit


