%h2 This is the index page
- @posts.each do |p|
  %div.posttitle= "Title: #{p.title}"
  %div.postbody= "#{p.body}"
%p That's the end of the posts!

= form_for @post do |t|
  %div.posttitle= "New post:"
  = t.label :title
  = t.text_field :title
  = t.label :body
  = t.text_field :body
  %p
    = t.submit


