.row
  .col-md-12
    - if !user_signed_in?
      %h3 Hello there!
      = link_to "sign in", new_user_session_path
.row
  .col-md-6
    %table.posts
      %tr
        %th Title
        %th Delete
      %tr
        - @posts.each do |p|
          %tr
            %td.main
              = link_to "#{p.title.titleize}", post_path(id: p.id)
            %td.admin
              = link_to 'delete', {action: :destroy, id: p.id}, method: :delete, data: {confirm: 'Are you sure?'}
    %p.text-left
      Thus completes the
      %abbr(title='a blog post')
        posts.
%button.btn
  = link_to "new post", new_post_path


