= form_for @post do |t|
  %h4 New Post:
  %p
    = t.label :title
    = t.text_field :title
  %p
    = t.label :body
    = t.text_area :body
  %p
    = t.submit
%button.btn
  = link_to "back", posts_path
