.test
  %h4.postbody= @post.title
  .text-primary= @post.body
  - @post.comments.each do |c|
    %h5.comment
      %small Comment:
      #{c.body}
    %p.commentor

      %small -#{c.user.name}
%hr
- if user_signed_in?
  = form_for [@post, @post.comments.build] do |c|
    %h5 New Comment:
    %p
      = c.label :comment
      = c.text_field :body
    %p
      = c.submit
%hr
%button.btn
  = link_to "home", posts_path
