%html
  %head
    %title peak.blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body
    .container-fluid
      .page-header.img-rounded
        %h2.mainheader
          = link_to 'peak.blog', posts_path
    .container.img-rounded#main-container
      .row
        .col-md-1
        .col-md-11
          - if notice
            %h2.notice= notice
          - if alert
            %p.alert= alert
          = yield
          %button.btn
            = link_to "sign out", destroy_user_session_path, method: :delete if user_signed_in?
            = link_to "sign in", new_user_session_path if !user_signed_in?
      .row
        .col-md-1
        .col-md-11
          - if user_signed_in?
            %h5.standard You are signed in as #{current_user.name}.
